<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Course:</strong>
  <%= @event.course.name %>
</p>

<p>
  <strong>Number of joins:</strong>
  <%= pluralize(@event.counter, "member") %>
</p>

<%= link_to 'Edit', edit_course_event_path(@course, @event) %> |
<%= link_to 'Back', course_events_path(@course) %>
