<!DOCTYPE html>
<html>
<head>
  <title>ko-learn</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
       <%= link_to image_tag("https://goo.gl/Zuwik9", :border => 0), {:action => 'welcome', :controller => 'pages'}, :class => "logo" %>
      </div>
      <div class="col-md-3">
        <% if current_user %>
          <ul>
            <li>Welcome, <%= link_to current_user.first_name.titleize, current_user %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <% else %>
          </ul>
          <ul>
            <li><%= link_to "Log in", '/login' %></li>
            <li><%= link_to "Sign Up", '/signup' %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
